// width for bricks--item containers 

$full: 100%;
$half: calc(50% - #{$space-xs});
$quarter: calc(25% - #{$space-xs});
$third: calc(33.3333% - #{$space-xs});
$two-third: calc(66.6666% - #{$space-xs});
$two-vs-half: calc(40% - #{$space-xs});
$two-vs-third: calc(60% - #{$space-xs});
