//add multiline backgorund for inline elements;
.multiline-bg {
  background-color: $scooter-80-op;
  box-decoration-break: clone;
  line-height: 1.2;
}

.multiline-bg--sm {
  box-shadow: .5em 0 0 $scooter-80-op, -.5em 0 0 $scooter-80-op;
}

.multiline-bg--md {
  box-shadow: 1em 0 0 $scooter-80-op, -1em 0 0 $scooter-80-op;
}
