.bricks {
  display: flex;
  flex-wrap: wrap;
}

.bricks__item--full {
  width: 100%;
}

.bricks__item--half {
  width: $half 
}

.bricks__item--quarter {
  width: $quarter;
}

.bricks__item--third {
  width: $third;
}

.bricks__item--two-third {
  width: $two-third;
}

.bricks__item--two-vs-half {
  width: $two-vs-half;
}

.bricks__item--two-vs-third {
  width: $two-vs-third;
}

.bricks__item {
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: $space-md;
  margin: 0 $space-xxxs $space-xs;
  text-align: center;

  >.bricks__item {
    justify-content: space-between;
    padding: $space-xs;

    @include respond-below(xs) {
      justify-content: center;
    }

    >img:not(:first-child) {
      @include respond-below(xs) {
        display: none;
      }
    }
  }
  >.bricks__item--half {
    width: calc(50% - #{$space-xs} - #{$space-md});
  }
}

.level {
  background-image: linear-gradient(-45deg, $blaze-orange 0%, $red-orange 100%);
  
  @include respond-below(xxl) {
    width: $two-vs-half;
  }

  @include respond-below(xl) {
    width: $full;    
  }

  >.bricks__item {
    @include respond-below(xl) {
      width: $two-vs-half;
    }

    @include respond-below(l) {
      width: $half;
    }

    @include respond-below(m) {
      width: $two-vs-third;
    }

    @include respond-below(s) {
      width: $full;
    }
  }
}

.draw {
  background-image: linear-gradient(-45deg, $blaze-orange 0%, $red-orange 100%);

  @include respond-below(xxl) {
    width: $two-vs-third;
  }

  @include respond-below(xl) {
    width: $full;    
  }

  >.bricks__item {
    >[src$='ru.png'] {
      @include respond-below(s) {
        display: none; 
      }  
    }
  }
}

.travel {
  background-image: linear-gradient(-45deg, #ad0132 0%, #e8e9ea 100%);
  @include respond-below(m) {
    width: $full;
  }

  img {
    @include respond-below(s) {
      max-width: 100%;
    }
  }
  
  >.bricks__item {
    justify-content: center;

    @include respond-below(m) {
      width: $two-third;
    }

    @include respond-below(s) {
      width: $full;
    }
  }
}

.art {
  background-image: linear-gradient(-45deg, #8f1031 0%, #f4a9dd 100%);
  @include respond-below(m) {
    width: $full;
  }

  >.bricks__item {
    @include respond-below(m) {
      width: $two-vs-third;
    }

    @include respond-below(s) {
      width: $full;
    }
  }
}

.new-draw {
  background-image: linear-gradient(-45deg, #0067FF 0%, #00245D 100%); 
  
  >.bricks__item {
    justify-content: center;

    @include respond-below(m) {
      width: $half;
    }

    @include respond-below(xs) {
      width: $full;
    }
  }
}

.beasts {
  background-image: linear-gradient(-45deg, $blaze-orange 0%, $red-orange 100%);

  @include respond-below(m) {
    width: $full;
  }

  >.bricks__item {
    justify-content: center;
  }
}
