.bricks {
  display: flex;
  flex-wrap: wrap;
}

.bricks__item--full {
  width: 100%;
}

.bricks__item--half {
  width: $half 
}

.bricks__item--quarter {
  width: $quarter;
}

.bricks__item--third {
  width: $third;
}

.bricks__item--two-third {
  width: $two-third;
}

.bricks__item--two-vs-half {
  width: $two-vs-half;
}

.bricks__item--two-vs-third {
  width: $two-vs-third;
}

.bricks__item {
  background-color: $denim;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: $space-md;
  margin: 0 $space-xxxs $space-xs;
  //border: 1px solid $black;
  text-align: center;

  >.bricks__item {
    background-color: $scooter;
    justify-content: space-between;
    padding: $space-xs;

    @include respond-below(xs) {
      justify-content: center;
    }

    >img:not(:first-child) {
      @include respond-below(xs) {
        display: none;
      }
    }
  }
  >.bricks__item--half {
    width: calc(50% - #{$space-xs} - #{$space-md});
  }
}

.link {
  display: flex;
  justify-content: space-between;
}

.level {
  @include respond-below(xxl) {
    width: $two-vs-half;
  }

  @include respond-below(xl) {
    width: $full;    
  }

  >.bricks__item {
    @include respond-below(xl) {
      width: $two-vs-half;
    }

    @include respond-below(l) {
      width: $half;
    }

    @include respond-below(m) {
      width: $two-vs-third;
    }

    @include respond-below(s) {
      width: $full;
    }
  }
}

.draw {
  @include respond-below(xxl) {
    width: $two-vs-third;
  }

  @include respond-below(xl) {
    width: $full;    
  }

  >.bricks__item {
    >[src$='ru.png'] {
      @include respond-below(s) {
        display: none; 
      }  
    }
  }
}

.travel {
  @include respond-below(m) {
    width: $full;
  }

  img {
    @include respond-below(s) {
      max-width: 100%;
    }
  }
  
  >.bricks__item {
    justify-content: center;

    @include respond-below(m) {
      width: $two-third;
    }

    @include respond-below(s) {
      width: $full;
    }
  }
}

.art {
  
  @include respond-below(m) {
    width: $full;
  }

  >.bricks__item {
    @include respond-below(m) {
      width: $two-vs-third;
    }

    @include respond-below(s) {
      width: $full;
    }
  }
}

.new-draw {
  >.bricks__item {
    justify-content: center;

    @include respond-below(m) {
      width: $half;
    }

    @include respond-below(xs) {
      width: $full;
    }
  }
}


.beasts {

  @include respond-below(m) {
    width: $full;
  }

  >.bricks__item {
    justify-content: center;
  }
}
