.description {
  color: $white;
  display: flex;
  justify-content: space-between;
  margin-top: $space-xs;
  width: 100%;
}

.description__title {
  font-weight: 400;
  margin: 0;
}

.description--block {
  display: block;
}
