.features {
  font-size: $text-base-size;
  padding: $space-xxl 0 $space-lg;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
}

.features__item {
  line-height: 1.4;
  list-style: none;
  margin-bottom: $space-xl;
  padding: 0 10%;
  text-align: center;
  width: 50%;
}

.features__description {
  margin-bottom: 0;
}
