.features__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
}

.features__item {
  line-height: 1.4;
  list-style: none;
  text-align: center;
  width: 50%;
  padding: 0 10%;
}

.features__description {
  
}
