.headline {
  color: $white;
  letter-spacing: 1px;
  margin-top: 320px;
  position: relative;
  width: 70%;
  z-index: 4;
}

.headline__header {
  font-size: 48px;
}

.headline__content {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 32px;
  width: 94%;
}