.header {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.header__video {
  margin-left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  transform: translate(-50%);
  z-index: 1;
}

.overlay {
  background-color: $black-30-op;
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 2;
}
