.sketchbook {
  background-color: $white;
  border-radius: 5px;
  padding: $space-md;
  width: 250px;
  
  &__link {
    display: flex;
    text-decoration: none;
  }
  
  &__preview {
    height: auto;
    max-width: 200px;
    width: 100%;
  }

  &__description {
    margin-top: $space-xs;
    text-align: left;
    width: 100%;
  }

  &__title {
    font-weight: 400;
    margin: 0;
  }
}